body{
  margin: 0;
  padding: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
}
img{
    height:250px;
    width:400px;
}
.links-container a{
  color: #ffffff;
  transition: 0.3s;
}
.links-container a:hover{
    color: #3882f6;
    /* font-weight: bold; */
    /* font-size: 20px; */
     letter-spacing: 1px;
    /* margin-top: -10px; */
    transition: 0.3s;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    border: none;
}
.links-container{
    display: flex;
}
.links-container a{
    text-decoration: none;
    color: #ffffff;
}
 .links-container div{
    padding-right: 10px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #ffffff;
}
.hero h1{
    font-size: 48px;
    font-weight: 900;
}
.left, .right{
    padding: 100px;
}
.left p, .left h1{ 
    width:400px;
}
.random-stuff{
    text-align: center;
    padding: 100px
}
.random-stuff h2{
    color:#1f2937;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 20px;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 200px;
}
.quote p{
    font-size: 36px;
    color: #1f2937;
    font-style:italic;
}
strong{
    padding-left: 300px;
}
.cta{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #ffffff;
    font-size:20px;
    border-radius: 10px;
    padding: 40px;
    width: 900px;
    height: 50px;
    gap:100px;
}
.cta-items p{
 margin-top: -20px;
}
button{
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
}
button:hover{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    color: #3882f6;
    transition: 0.3s;
}
